.help {
  display: flex;
  flex-direction: column;
  /* background-color: #1f1f1f; */
  width: 197px;
  height: 238px;
  margin-left: 14px;
}
.helpText {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
  width: 168px;
  height: 80px;
  margin-top: 14px;
  margin-left: 15px;
}
.helpCactusIcon {
  stroke: #bedbb0;
  fill: transparent;
  margin-top: 14px;
  margin-left: 14px;
}

.taskProSpan {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #bedbb0;
}

.helpBtn {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-left: 14px;
}

.helpIcon {
  stroke: #ffffff;
  fill: transparent;
}

.helpBtnText {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #ffffff;
  margin-left: 8px;
}
@media screen and (min-width: 768px) {
  .help {
    width: 212px;
    height: 272px;
    margin-left: 24px;
  }
  .helpCactusIcon {
    margin-left: 20px;
    margin-top: 20px;
  }
  .helpText {
    font-size: 14px;
    line-height: 20px;
    width: 172px;
    height: 102px;
    margin-left: 20px;
    margin-top: 14px;
  }
  .taskProSpan {
    font-size: 14px;
    line-height: 20px;
  }
  .helpBtn {
    margin-left: 20px;
    margin-top: 18px;
  }
}
