.headerDashboardSection {
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 40px;
}

.titleDashboard {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
}
