@media (min-width:320px) {
    .wrap {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        background-image: linear-gradient(#ffffff, #BEDBB0);
        padding: 10px;
    }

    .formWrapper{
        background-color: #151515;
        border-radius: 8px;
        min-width: 300px;
        max-width: 335px;
        width: 100%;
    }
    .contentWrapper{
        padding: 25px;
    }
    .switcher{
        margin-bottom: 40px;
    }
    .inputContainer{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 15px;
        
    }
    .input{
        background-color: #1f1f1f;
        opacity: 0.4;
        border: 1px solid #bedbb0;
        border-radius: 8px;
        padding: 15px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
    }

    .input:focus{
        outline: 1px solid #A2EBC0;
    }

    .input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #1f1f1f inset;
        -webkit-text-fill-color: #fff;
    }

    .button{
        background: none;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        color: #fff;
        font-size: 18px;
        opacity: 30%;
        transition: 0.3s;
    }

    .button:hover{
        opacity: 100%;
    }

    .button[disabled] {
        opacity: 100%;
        cursor: default;
        margin-left: 20px;
    }
    .error{
        opacity: 90%;
        color: red;
        font-size: 12px;
    }

    .loginButton{
        background-color: #BEDBB0;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        color: #161616;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        width: 100%;
        padding: 15px;
        border-radius: 8px;
        margin-top: 10px;
    }

    .passwordContainer{
        display:flex;
        border: 1px solid #bedbb0;
        border-radius: 8px;
        opacity: 0.4;
        background-color: #1f1f1f;
        justify-content: space-between;
    }

    .passwordContainer:focus-within {
        outline: 1px solid #A2EBC0;
    }

    .passwordInput{
        background-color: #1f1f1f;
        padding: 15px;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        border:none;
        border-radius: 8px;
    }

    .passwordInput:focus{
        outline: none;
    }

    .showPasswordButtonWrap {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
    
    .passwordInput:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #1f1f1f inset;
        -webkit-text-fill-color: #fff;
    }
    .showPasswordButton {
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .logoIconOuterWrap{
        width: 22px;
        height: 18px;
        stroke: #fff;
        fill: #1f1f1f;
    }
}
@media (min-width:768px){
    .formWrapper{
        max-width: 425px;
        width: 100%;
    }
    .contentWrapper{
        padding: 35px;
    }
}
