.moveModal {
  z-index: 100;
  width: 135px;
  max-height: 50px;
  background-color: var(--light-header-color);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  border-radius: 8px;
  padding: 18px;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 2px;
}

.move_button_list {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.moveButton {
  width: 100%;
  height: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: var(--light-text-color);
  transition: color 300ms ease;
}

.move_icon {
  stroke: var(--light-text-color);
  fill: none;
  transition: stroke 300ms ease;
}

.moveButton:hover,
.moveButton:hover .move_icon {
  color: #bedbb0;
  stroke: #bedbb0;
  transform: scale(1.03);
  transition: transform 300ms ease;
}

/*   dark   */

.theme_dark_moveModal {
  background-color: var(--dark-input-focus-color);
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
}

.theme_dark_moveButton {
  color: rgba(255, 255, 255, 0.5);
}

.theme_dark_move_icon {
  stroke: rgba(255, 255, 255, 0.5);
}

/*    light   */

.theme_light_moveModal {
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
}

/*    violet    */

.theme_violet_moveModal {
  box-shadow: 0 4px 16px 0 rgba(17, 17, 17, 0.1);
}

.theme_violet_moveButton:hover:hover,
.theme_violet_moveButton:hover .move_icon {
  color: var(--button-violet-wrap-color);
  stroke: var(--button-violet-wrap-color);
}
