.cardBtnList {
  display: flex;
  gap: 8px;
}

.cardBtn {
  height: 16px;
}

.cardBtnItem {
  height: 16px;
}

.cardIcon {
  width: 16px;
  height: 16px;
  stroke: var(--light-text-color);
  opacity: 0.5;
  fill: none;
}

.bellIcon {
  stroke: var(--button-color);
}
