.cardBtnList {
  display: flex;
  gap: 8px;
}

.cardBtnItem {
  height: 16px;
}

.cardBtn {
  height: 16px;
}

.cardIcon {
  width: 16px;
  height: 16px;
  stroke: var(--light-text-color);
  opacity: 0.5;
  fill: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cardBtn:hover .cardIcon,
.cardBtn:focus .cardIcon {
  opacity: 1;
}

.cardBtn:active .cardIcon {
  stroke: var(--button-light-color);
}

.bellIcon {
  stroke: var(--button-light-color);
}
