.addCardBtn {
  border-radius: 8px;
  padding: 0;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #161616;
  background-color: #bedbb0;
  max-width: 335px;
  width: calc(100vw - 20px * 2);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.plus {
  color: #fff;
  background-color: #161616;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.plusIcon {
  width: 14px;
  height: 14px;
  stroke: #fff;
}
