.addCardBtn {
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
  background-color: var(--button-light-color);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addCardBtn:hover,
.addCardBtn:focus {
  background-color: var(--button-light-alt-color);
}

.plus {
  background-color: var(--light-text-color);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.plusIcon {
  width: 14px;
  height: 14px;
  stroke: var(--light-main-color);
}

/* theme btn */

.theme_dark_btn,
.theme_light_btn {
  background-color: var(--button-light-color);
  color: var(--dark-button-color);
}

.theme_violet_btn {
  background-color: var(--button-violet-wrap-color);
  color: var(--dark-text-color);
}

/* theme plus */

.theme_dark_plus,
.theme_light_plus {
  background-color: var(--dark-button-color);
}

.theme_violet_plus {
  background-color: var(--dark-text-color);
}

/* theme plus_icon */

.theme_dark_plus_icon,
.theme_light_plus_icon {
  stroke: var(--dark-text-color);
}

.theme_violet_plus_icon {
  stroke: var(--dark-button-color);
}
