.addCardBtn {
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
  background-color: var(--button-light-color);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addCardBtn:hover,
.addCardBtn:focus {
  background-color: var(--button-light-alt-color);
}

.plus {
  color: var(--light-main-color);
  background-color: var(--light-text-color);
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.plusIcon {
  width: 14px;
  height: 14px;
  stroke: var(--light-main-color);
}
