.icon {
  width: 24px;
  height: 24px;
}

.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  margin-left: 20px;
}

.customSelect {
  width: 16px;
  height: 16px;
  border: none;
  margin-left: 4px;
}

.headerContainer {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
