.filterButtonWrap {
  position: relative;
  padding-top: 14px;
  padding-bottom: 40px;
  padding-right: 20px;
}

.filterButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
  opacity: 0.8;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filterButton:hover,
.filterButton:focus {
  opacity: 1;
}

.filterIcon {
  stroke-width: 1.5px;
  stroke: var(--light-text-color);
  opacity: 0.8;
  width: 16px;
  height: 14px;
  fill: none;
}

.filterModal {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 100;
  width: 100%;
  max-width: 300px;
  background-color: var(--light-header-color);
  box-shadow: 0 4px 16px 0 rgba(22, 22, 22, 0.05);
  border-radius: 8px;
  padding: 24px;
}

.filterModalTitle {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
  margin-bottom: 16px;
}

.filterInput {
  width: 100%;
  padding: 4px;

  border: none;
  border-bottom: 1px solid rgba(22, 22, 22, 0.1);

  background: transparent;
}

.filterPriority {
  margin-top: 14px;
}

.filterPriorityLabel {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--light-text-color);
  margin-bottom: 8px;
}

.filterPriorityLabel {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;

  width: 100%;
  cursor: pointer;
}

.filterPriorityLabel:last-child {
  margin-bottom: 0;
}

/* .filterPriorityInput {
} */

@media screen and (min-width: 768px) {
  .filterButtonWrap {
    padding-top: 20px;
    padding-right: 32px;
  }
  .filterIcon {
    height: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .filterButtonWrap {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 24px;
  }
  .filterIcon {
    height: 14px;
  }
}
