.avatar {
  width: 32px;
  height: 32px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.userName {
  font-size: 14px;
  letter-spacing: -0.04em;
  color: #161616;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
}
