
.userInfo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: opacity 0.3s linear;
  transition-delay: 0.3ms;
  cursor: pointer;
}

.userInfo:hover {
  opacity: 70%;
}
