.sidebar {
  padding-bottom: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(-100%);
  transition: 500ms transform;
}

.openSidebar {
  min-height: 768px;
  z-index: 1;
  position: absolute;
  transition: 500ms;
  transform: translateX(0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 225px;
  height: 100vh;
}

.myBoardsTitle {
  opacity: 0.5;
  font-weight: 400;
  font-size: 12px;
  margin-left: 14px;
  margin-top: 70px;
}

.theme_dark {
  background-color: #121212;
  color: #fff;
}

.theme_light {
  background-color: #fff;
  color: #161616;
}

.theme_violet {
  background-color: #5255bc;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .sidebar {
    width: 260px;
    padding-bottom: 24px;
  }
  .myBoardsTitle {
    margin-left: 24px;
    margin-top: 60px;
  }
  /* .myBoards {
    margin-top: 70px;
    margin-left: 24px;
  } */
  .openSidebar {
    width: 260px;
  }
  .theme_dark {
    background-color: #121212;
    color: #fff;
  }

  .theme_light {
    background-color: #fff;
    color: #161616;
  }

  .theme_violet {
    background-color: #5255bc;
    color: #fff;
  }
}

@media screen and (min-width: 1440px) {
  .sidebar {
    width: 260px;
    transform: none;
    position: absolute;
  }
  .openSidebar {
    position: absolute;
    width: 260px;
  }
  .theme_dark {
    background-color: #121212;
    color: #fff;
  }

  .theme_light {
    background-color: #fff;
    color: #161616;
  }

  .theme_violet {
    background-color: #5255bc;
    color: #fff;
  }
}
