.form  {
  
    display: flex;
    flex-direction: column;
   
  }
  .input {
    padding: 14px;
    border: 1px solid #bedbb0;
    border-radius: 8px;
    margin-bottom: 14px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #161616;
  }
  
  
  
  .textarea{
  border: 1px solid #bedbb0;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #161616;
  resize:none;
  }
  
  .btn {
    width: 100%;
    padding: 10px 0 11px;
    border-radius: 8px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: #bedbb0;
  
    color: #161616;
    font-size: 14px;
    font-weight: 500;
    transition: scale 250ms ease-in 0s;
   
  }
  .btn:hover,
  .btn:focus {
    background:  #9dc888;
  }
  
  @media (min-width: 375px) {
    .form {
      width:287px;
      
    }
  }
  
  @media (min-width: 768px) and (max-width: 1439px) {
    .form {
      width:352px;
    }
  }
  
  @media (min-width: 1440px) {
  }
  