@import-normalize; /* bring in normalize.css styles */

html {
  height: 100%;
}

:root {
  --dark-main-color: #232323;
  --dark-input-color: #212121;
  --dark-input-focus-color: #1f1f1f;
  --dark-button-color: #161616;
  --light-main-color: #fdfdfd;
  --violet-main-color: #d6d8ff;

  --light-background-color: #e5e5e5;

  --dark-input-color: #212121;
  --dark-input-focus-color: #1f1f1f;

  --button-light-color: #bedbb0;
  --button-light-alt-color: #9dc888;

  --button-violet-color: #b8bcfd;
  --button-violet-alt-color: #979cea;

  --button-violet-wrap-color: #5255bc;
  --button-violet-wrap-alt-color: #7b7ede;

  --radio-grey: #656565;
  --radio-blue: #8fa1d0;
  --radio-pink: #e09cb5;
  --radio-green: #bedbb0;

  --light-text-color: #161616;
  --dark-text-color: #ffffff;

  --light-header-color: #fcfcfc;

  --dark-plus-color: #121212;
  --light-plus-color: #ffffff;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div#root {
  height: 100%;
}

button {
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  font-family: inherit;
}
