.listItem {
  width: 100%;
  min-height: 61px;
}

.boardLink {
  position: relative;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: inherit;
  font-weight: 500;
  text-decoration: none;
  padding-left: 24px;
}

.boardLink::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 4px;
  border-radius: 4px 0 0 4px;
  background-color: #bedbb0;
  display: none;
}

.boardLink:hover {
  background-color: #ffffff80;
}

/* .boardLink:global(.active) {
  background-color: #1f1f1f;
} */

.boardLink:global(.active)::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 100%;
  background-color: blue;
  margin-right: 10px;
}
