.btnList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 16px;
}

.btnListItem {
  height: 16px;
}

.btn {
  height: 16px;
}

.icon {
  width: 16px;
  height: 16px;
  stroke: var(--light-main-color);
  stroke: black;
  opacity: 50%;
  fill: none;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.bellIcon {
  stroke: var(--button-light-color);
}

.btn:hover .icon,
.btn:focus .icon {
  opacity: 1;
}

.btn:active .icon {
  stroke: var(--button-light-color);
}

.theme_dark {
  stroke: #ffffff80;
}

.theme_light {
  stroke: #16161680;
}
